*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.App{
    position: relative;
    background-image: url('./assets/bg.jpg');
    overflow: hidden;
}
.MuiTextField-root{
    width: 100%;
    background-color: white;
    border-radius: .23rem;
    border-color:rgb(42, 30, 166) ;
}
.MuiFormLabel-root{
    color: rgb(42, 30, 166) !important;
}
.MuiIconButton-root{
    transition: all ease 400ms !important;
}
/* .MuiIconButton-root:hover{
    background-color: #F15A29 !important;
    transform: translateY(-8px);
} */
.splide__list{
    height: 20rem !important;
}
@media only screen and (max-width: 540px) {
    .splide__list{
        height: 15rem !important;
    }
}
.splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.splide__pagination__page.is-active {
    background: #F15A29 !important;
}

a{
    text-decoration: none;
}
::selection {
    background: #ff3115;
    text-shadow: none;
    color: #fff;
}
.MuiFormLabel-root {
    /* color: white !important; */
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 7.5px 12px !important;
}




